.card {font-family: arial; font-size: 10px; text-align: left; #222222;  background-color: #fdf6e3;}
.hanzi {font-family: Kaiti;  font-size: 78px;}
.hanzi-simple {font-family: Kaiti;  font-size: 78px;}
.sentence{font-family: SimSun; font-size:24px; text-align:left}
.pinyin {font-family: Gentium Plus; font-size: 30px; color: #005500;}
.pinyinSen {font-family: Gentium Plus; font-size: 20px; color: #005500; text-align:left}
.english{font-family: Georgia; font-size: 16px;}
.meaningSent{font-family: Georgia; font-size: 16px;  text-align:left}
.description{font-family: Georgia; font-size: 16px; color: #575757;}
