<style>
    .hanzi_style {
        font-family: "Microsoft YaHei";
        font-size: 1.0em;
        line-height: 1.1
    }

    .blank_row
    {
        height: 10px !important; /* overwrites any other rules */
        background-color: #FFFFFF;
    }

    table_center {
        margin-left:auto;
        margin-right:auto;
    }
</style>

<Center>
    <FONT COLOR=Blue size="5" face="例句"><strong>查詢結果</strong></FONT>
</Center>

<table width="100%" border="0" cellpadding="0" cellspacing="0">

{% for result in results %}
    <tr>
        <td class="hanzi_style table_center">{{ result[0] }}</td>
    </tr>
    <tr>
        <td class="hanzi_style table_center">{{ result[1] }}</td>
    </tr>
    <tr>
        <td class="hanzi_style table_center">{{ result[2] }}</td>
    </tr>
    <tr>
        <td class="hanzi_style table_center">{{ result[3] }}</td>
    </tr>
    <tr class="blank_row">
        <td colspan="3"></td>
    </tr>
{% endfor %}

</table>