<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block body %}

<script>

$(document).ready(function(){

    // This is used to register callbacks in various forms that when fired will
    // collect all the ID values everywhere on the system.
    var callbacks = $.Callbacks();

    set_id_value = function(id, value) {
        input_data[id] = value;
    }

    // This handles the case when someone clicks the generate inventory button
    $( "#{{ form.generate_characters_button.generic_button_id }}" ).click(function(event){
      $.get("{{ url_for('_generate') }}", { type: "characters" }, function(data){
        alert("Characters generated!");
      });
    });


});

</script>

<div class="container" id="topheader">
    <div class="jumbotron">
      <h1 class="display-4">建造中文 Tarjetas!</h1>
      <p class="lead">我現在學習中文！</p>
    </div>
    <div id="main_form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <p><button id="{{ form.generate_characters_button.generic_button_id }}" class="btn btn-primary" type="button">{{ form.generate_characters_button.label }}</button></p>
          </div>
          <div class="form-group col-md-6">
            <p><button id="{{ form.generate_words_button.generic_button_id }}" class="btn btn-primary" type="button">{{ form.generate_words_button.label }}</button></p>
          </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}
