<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block body %}

<script>

$(document).ready(function(){

    // This is used to register callbacks in various forms that when fired will
    // collect all the ID values everywhere on the system.
    var callbacks = $.Callbacks();

    set_id_value = function(id, value) {
        input_data[id] = value;
    }

    $("#{{ form.character.field_id }}").on("keypress", function(event) {
        if (event.keyCode === 13) {
            $("#{{ form.character.button_id }}").click();
            return false;
        }
    });

  $("#{{ form.do_not_save_word_checkbox.form_name }}").change(function() {

     cb = $(this);
     cb.val(cb.prop('checked'));

  });

});

</script>

<div class="container" id="topheader">
    <div class="jumbotron">
      <h1 class="display-4">中文 Tarjetas!</h1>
      <p class="lead">我現在學習中文！</p>
    </div>
    <div id="main_form">
      <div class="card" id="direct_to_disk_selected">
        <div class="card-body">
          <h5>Word Lookup</h5>
          {% with object = form.character %}
            {% include "button.html" %}
          {% endwith %}
          <hr>
            <div class="accordion" id="{{ [form.character.form_name, 'accordion'] | join('_') }}"></div>
        </div>
          <form id='{{ form.do_not_save_word_checkbox.form_name }}' role=form>
          <div class="form-check">
            <input class="form-check-input {{ form.do_not_save_word_checkbox.css_class }}" type="checkbox" value="" id="{{ form.do_not_save_word_checkbox.checkbox_id }}">
            <label class="form-check-label" for="{{ form.do_not_save_word_checkbox.form_name }}">
              {{ form.do_not_save_word_checkbox.label }}
            </label>
          </div>
          </form>
      </div>
      <br />
    </div>
</div>
{% endblock %}
